<div class="container my-5">
    <h1 class="mb-3">Add New Model</h1>
    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="addModel()">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="addModelRequest.name">
                  </div>
                  <div class="mb-3">
                    <label for="name" class="form-label">Make</label>
                    <select
                    for="makeId"
                    name="makeId"
                    class="form-select"
                    [(ngModel)]="addModelRequest.makeId"
                    id="makeId">
                    <option selected [disabled]="true">Select make</option>
                    <option *ngFor="let make of makes" [value]="make.id">{{make.name}}</option>
                  </select>
                  </div>
                  <div class="mb-3">
                    <label for="name" class="form-label">Color</label>
                    <select
                    for="vehicleColorId"
                    name="vehicleColorId" 
                    class="form-select"
                    [(ngModel)]="addModelRequest.vehicleColorId" id="vehicleColorId">
                    <option selected [disabled]="true">Select color</option>
                    <option *ngFor="let color of colors" [value]="color.id">{{color.name}}</option>
                  </select>
                  </div>                  
                  <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>