<div class="container my-5">
    <h1 class="mb-3">Cars</h1>
    <section class="filter">
        <form action="/Home/Filter" class="search-banner text-white pm-5" enctype="multipart/form-data" method="post" id="search-banner">
            <div class="container">
                <div class="row pb-4">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input type="text" aria-label="Search" name="search" placeholder="Пошук" [(ngModel)]="searchText" autocomplete="off" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    
    <section class="car-cads" *ngIf="cars && cars.length > 0">
        <div class="row" id="ads">
            <div class="col-md-4 mb-3" *ngFor="let car of cars | filter :searchText.toLowerCase()"><a href="/cars/details/{{car.id}}">
                <div class="card rounded">
                    <div class="card-image">
                        <span class="card-notify-year">2018</span>
                        <img class="img-fluid" src="{{car.imageUrl}}" alt="Alternate Text" />
                    </div>
                    <div class="card-image-overlay m-auto">
                        <span class="card-detail-badge">{{car.vehicleModel.make.name}}</span>
                        <span class="card-detail-badge">{{car.vehicleModel.name}}</span>
                    </div>
                </div>
            </a></div>
        </div>
    </section>
        <p *ngIf="!cars || cars.length <= 0">No Cars Found</p>
</div>