<div class="container my-5">
  <h1 class="mb-3">Add New Car</h1>
  <div class="row">
    <div class="col-6">
      <form #form="ngForm" (ngSubmit)="addCar()">
        <div class="mb-3">
          <div class="mb-3">
            <label for="name" class="form-label">Make</label>
            <select for="makelId" name="makelId" class="form-select"
              id="makeId">
              <option selected disabled>Select make</option>
              <option *ngFor="let make of makes" [value]="make.id">{{make.name}}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Model</label>
            <select for="modelId" name="modelId" class="form-select" [(ngModel)]="addCarRequest.vehicleModelId" [ngModelOptions]="{ standalone: true }"
              id="modelId">
              <option selected disabled>Select model</option>
              <option *ngFor="let model of models" [value]="model.id">{{model.name}}</option>
            </select>
          </div>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Engine Capacity</label>
          <input type="number" class="form-control" id="engineCapacity" name="engineCapacity"
            [(ngModel)]="addCarRequest.engineCapacity" [ngModelOptions]="{ standalone: true }">
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Price</label>
          <input type="number" class="form-control" id="value" name="value">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input type="text" class="form-control" id="description" name="description"
            [(ngModel)]="addCarRequest.description" [ngModelOptions]="{ standalone: true }">
        </div>
        <div class="mb-3">
          <label for="imageUrl" class="form-label">Images</label>
          <input #fileInput type="file" id="file" name="file" (change)="onSelectFile($event)" class="form-control"
            accept=".jpg,.png,.gif,.pdf,.xls,.xlsx,.doc,.docx,.ppt,.pptx">
          <img [src]="addCarRequest.imageUrl" *ngIf="addCarRequest.imageUrl" style="height: 300px; width:500px">
        </div>
        <div class="mb-3">
          <button (click)="upload()" type="submit" class="btn btn-primary">Add</button>
        </div>